<div class="row my-4">
  <div class="col-md-6 mb-3">
    <div class="card h-100 shadow-sm border-0">
      <div class="card-body">
        <h3 class="h6 font-weight-bold">✅ Beneficios</h3>
        <slot name="pros" />
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card h-100 shadow-sm border-0">
      <div class="card-body">
        <h3 class="h6 font-weight-bold">⚠️ Riesgos</h3>
        <slot name="cons" />
      </div>
    </div>
  </div>
</div>
