<!doctype html>
<html lang="en">
	<head>
		<link rel="icon" type="image/png" href="/sclogo.png" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>.:SoftwareCode:.</title>

		<meta name="description" content="Desarrollamos software a medida, sistemas móviles, soluciones CRM, ERP y estrategias de marketing digital para impulsar el crecimiento de Software Code. ¡Innovación y tecnología a tu alcance!" />
		<meta name="keywords" content="desarrollo de software, sistemas móviles, CRM, ERP, marketing digital, aplicaciones móviles, desarrollo web, software a medida, soluciones empresariales, gestión empresarial, automatización, estrategias digitales, SEO, marketing online" />
		<meta name="author" content="Software Code de Desarrollo de Software" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:title" content="Desarrollo de Software y Soluciones Digitales - Software Code" />
		<meta property="og:description" content="Expertos en desarrollo de software, aplicaciones móviles, sistemas CRM y ERP, y estrategias de marketing digital. Innovamos para el éxito de tu negocio." />
		<meta property="og:image" content="/sclogo.png" />
		<meta property="og:url" content="https://www.softwarecode.cl" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Desarrollo de Software y Soluciones Digitales - Software Code" />
		<meta name="twitter:description" content="Especialistas en desarrollo de software, aplicaciones móviles, CRM, ERP y marketing digital para empresas." />
		<meta name="twitter:image" content="/sclogo.png" />
		



		<link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
		<link rel="stylesheet" href="/plugins/slick/slick.css">
		<link rel="stylesheet" href="/plugins/slick/slick-theme.css">
		<link rel="stylesheet" href="/plugins/fancybox/jquery.fancybox.min.css">
		<link rel="stylesheet" href="/plugins/aos/aos.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<slot />
		<script src="/plugins/jquery/jquery.min.js" is:inline></script>
		<script src="/plugins/bootstrap/bootstrap.min.js" is:inline></script>
		<script src="/plugins/slick/slick.min.js" is:inline></script>
		<script src="/plugins/syotimer/jquery.syotimer.min.js" is:inline></script>
		<script src="/plugins/fancybox/jquery.fancybox.min.js" is:inline></script>
		<script src="/plugins/aos/aos.js" is:inline></script>
		<script src="/js/script.js" is:inline></script>
		<script src="/plugins/google-map/gmap.js" is:inline></script>


	</body>
</html>

<style>
  html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}
</style>
